services:
  api:
    build: ./backend/
    container_name: MIH-API-Hub
    command: sh -c "sleep 10s; uvicorn backend.main:app --reload --port=8080 --host=0.0.0.0"
    ports:
      - 8080:8080
    volumes:
      - .:/app
    depends_on:
      - mysqldb
  
  mysqldb:
    #build: ./database/
    image: mysql
    container_name: MIH-Database
    restart: always
    environment:
      MYSQL_DATABASE: 'testdb'
      MYSQL_ROOT_PASSWORD: 'C@rtoon1995'
    ports:
      - '3306:3306'
    volumes:
      - ./database:/var/lib/mysql
        
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: MIH-phpmyadmin
    environment:
      PMA_HOST: mysqlDB
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
    restart: always
    ports:
      - 8081:80
    depends_on:
      - mysqldb

  nginx:
    container_name: nginx
    restart: unless-stopped
    image: nginx
    ports:
        - 80:80
        - 443:443
    volumes:
        - ./nginx/nginx.conf:/etc/nginx/nginx.conf
        - certbotConf:/etc/letsencrypt
        - certbotChall:/var/www/certbot
    depends_on:
      - user-interface

  user-interface:
    container_name: MIH-UX
    build:
      context: ./Frontend/patient_manager
    ports:
      - "83:83"
    depends_on:
      - api
  
  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes: 
      - certbotConf:/etc/letsencrypt
      - certbotChall:/var/www/certbot
    #command: certonly --test-cert --webroot -w /var/www/certbot --force-renewal --email yasienmeth@gmail.com -d mzansi-innovation-hub.co.za -d www.mzansi-innovation-hub.co.za --agree-tos
    command: certonly --webroot -w /var/www/certbot --force-renewal --email yasienmeth@gmail.com -d mzansi-innovation-hub.co.za -d www.mzansi-innovation-hub.co.za --agree-tos
    depends_on:
      - nginx
    profiles: ['withCert']
    
  minio:
    container_name: MIH-Minio
    hostname: minio
    image: docker.io/bitnami/minio:2022
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - './File_Storage:/data'
    environment:
      - MINIO_ROOT_USER=yaso
      - MINIO_ROOT_PASSWORD=C@rtoon1995
      
volumes:
  certbotConf:
  certbotChall:
