services:
  api:
    build: ./backend/
    container_name: MIH-API-Hub
    command: sh -c "sleep 10s; uvicorn backend.main:app --reload --port=80 --host=0.0.0.0"
    ports:
      - 80:80
    volumes:
      - .:/app
    depends_on:
      - mysqldb
  
  mysqldb:
    #build: ./database/
    image: mysql
    container_name: MIH-Database
    restart: always
    environment:
      MYSQL_DATABASE: 'testdb'
      MYSQL_ROOT_PASSWORD: 'C@rtoon1995'
    ports:
      - '3306:3306'
    volumes:
      - ./database:/var/lib/mysql
        
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: MIH-phpmyadmin
    environment:
      PMA_HOST: mysqlDB
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
    restart: always
    ports:
      - 8081:80
    depends_on:
      - mysqldb

  user-interface:
    container_name: MIH-UX
    build:
      context: ./Frontend/patient_manager
    ports:
      - "8080:8080"
    depends_on:
      - api

  minio:
    container_name: MIH-Minio
    image: docker.io/bitnami/minio:2022
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - './File_Storage/Mzanzi_Innovation_Hub:/data'
    environment:
      - MINIO_ROOT_USER=yaso
      - MINIO_ROOT_PASSWORD=C@rtoon1995
      
volumes:
  Mzanzi_Innovation_Hub:
    driver: local

# networks:
#   default:
#     external:
#       name: MIH_Network