[Desktop Entry]
Version=1.2.6
Type=Application
Name=MIH App
Name[af]=MIH Toepassing
Name[zu]=I-App ye-MIH
Comment=First Super App of Mzansi
Comment[af]=Eerste Super Toepassing van Mzansi
Comment[zu]=I-Super App yokuqala yaseMzansi
Exec=mzansi_innovation_hub
Icon=za.co.mzansiinnovationhub.mih
Terminal=false
Categories=GNOME;GTK;Utility;
Keywords=Mzansi;Innovation;Hub;App;
StartupWMClass=mzansi_innovation_hub
X-Flatpak-RenamedFrom=mzansi-innovation-hub.desktop;
X-GNOME-UsesNotifications=true
DBusActivatable=false